Repository helderberg-pirates-baseball/websites: changes, and which Codecov flags are due for each by the changed paths.
All: hpb-client, hpb-shared-styles, hpb-shared-ui, hpb-pages-landing, hpb-pages-not-found

fix(workflows): force cache up to date
  .github/actions/install-deps/action.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
Due: none

chore: touch app.routes to force cache key missed
  apps/hpb-client/src/app/app.routes.ts
Due: hpb-client

fix: use correct syntax for checking cache hit
  .github/workflows/ci-cd.yml
Due: none

fix(workflows): force cache up to date 🚤 (#79)
  .github/actions/install-deps/action.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  apps/hpb-client/src/app/app.routes.ts
Due: hpb-client

chore(deps): :arrow_up: update nx monorepo
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo (#80)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies (#81)
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v16.2.10
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v16.2.10 (#82)
  package.json
Due: none

fix(deps): :arrow_up: update nx monorepo to v16.2.12
  package.json
Due: none

fix(deps): :arrow_up: update nx monorepo to v16.2.12 (#83)
  package.json
Due: none

chore(deps): :arrow_up: update tooling to ~16.3.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling to ~16.3.1 (#84)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
Due: none

fix: use correct zone.js package
  libs/pages/landing/package.json
  libs/pages/not-found/package.json
  package-lock.json
  package.json
Due: hpb-pages-landing, hpb-pages-not-found

fix: use correct zone.js package (#85)
  libs/pages/landing/package.json
  libs/pages/not-found/package.json
  package-lock.json
  package.json
Due: hpb-pages-landing, hpb-pages-not-found

chore: clean up dev dependencies
  .commitlintrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

chore: replace pre-commit with pre-push
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: test pre-push
  libs/shared/styles/src/lib/hpb-theme.service.spec.ts
  libs/shared/styles/src/lib/hpb-theme.service.ts
Due: hpb-shared-styles

chore: have passing test
  libs/shared/styles/src/lib/hpb-theme.service.spec.ts
Due: hpb-shared-styles

chore: adjust pre-push to use nx affected
  .husky/pre-push
Due: none

chore: test format:check stops push
  apps/hpb-client/src/app/app.component.ts
Due: hpb-client

chore: include echo for pre-push
  .husky/pre-push
Due: none

chore: fix formatting
  apps/hpb-client/src/app/app.component.ts
Due: hpb-client

chore: improve pre-push
  .husky/pre-push
Due: none

chore: attempt to prevent popping stash when no changes found
  .husky/pre-push
Due: none

chore: remove test spec
  libs/shared/styles/src/lib/hpb-theme.service.spec.ts
  libs/shared/styles/src/lib/hpb-theme.service.ts
Due: hpb-shared-styles

chore: have failing test
  apps/hpb-client/src/app/app.component.spec.ts
Due: hpb-client

chore: finished testing
  .husky/pre-push
Due: none

chore: revert failing test
  apps/hpb-client/src/app/app.component.spec.ts
  apps/hpb-client/src/app/app.component.ts
Due: hpb-client

chore: update pop stash
  .husky/pre-push
Due: none

chore(deps): reduce dependencies and improve hooks 🐎 (#88)
  .commitlintrc.json
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v17.1.2
  package-lock.json
  package.json
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v17.1.2 (#86)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling to v17
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling to v17 (major) (#87)
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency zone.js to ^0.14.2
  package.json
Due: none

Path conditions:
  hpb-client: any of: apps/hpb-client
  hpb-shared-styles: any of: libs/shared/styles
  hpb-shared-ui: any of: libs/shared/ui
  hpb-pages-landing: any of: libs/pages/landing
  hpb-pages-not-found: any of: libs/pages/not-found
