Repository helderberg-pirates-baseball/websites: changes, and which Codecov flags are due for each by the changed paths.
All: hpb-client, hpb-shared-styles, hpb-shared-ui, hpb-pages-landing, hpb-pages-not-found

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      hpb-client:
        flags:
          - hpb-client
      hpb-shared-styles:
        flags:
          - hpb-shared-styles
      hpb-shared-ui:
        flags:
          - hpb-shared-ui
      hpb-pages-landing:
        flags:
          - hpb-pages-landing
      hpb-pages-not-found:
        flags:
          - hpb-pages-not-found
flags:
  hpb-client:
    paths:
      - apps/hpb-client
  hpb-shared-styles:
    paths:
      - libs/shared/styles
  hpb-shared-ui:
    paths:
      - libs/shared/ui
  hpb-pages-landing:
    paths:
      - libs/pages/landing
  hpb-pages-not-found:
    paths:
      - libs/pages/not-found

chore(deps): :arrow_up: update dependency @angular/pwa to v17
  package.json
Due: none

fix(deps): :arrow_up: update angular monorepo to v17
  libs/pages/landing/package.json
  libs/pages/not-found/package.json
  package.json
Due: hpb-pages-landing, hpb-pages-not-found

chore(deps): run `nx migrate latest --from=17.0`
  package-lock.json
  package.json
Due: none

chore(deps): add base `tsConfig` for projects
  libs/pages/landing/project.json
  libs/pages/not-found/project.json
  libs/shared/styles/project.json
  libs/shared/ui/project.json
Due: hpb-shared-styles, hpb-shared-ui, hpb-pages-landing, hpb-pages-not-found

chore(deps): run migrations
  apps/hpb-client/project.json
  libs/pages/landing/project.json
  libs/pages/not-found/project.json
  libs/shared/styles/project.json
  libs/shared/ui/project.json
  nx.json
  package-lock.json
  package.json
Due: hpb-client, hpb-shared-styles, hpb-shared-ui, hpb-pages-landing, hpb-pages-not-found

chore(deps): update libs package.json
  libs/pages/landing/package.json
  libs/pages/not-found/package.json
Due: hpb-pages-landing, hpb-pages-not-found

chore: ignore local cache error
  .github/workflows/ci-cd.yml
Due: none

fix(deps): :arrow_up: update angular monorepo to v17 (major) (#91)
  .github/workflows/ci-cd.yml
  apps/hpb-client/project.json
  libs/pages/landing/package.json
  libs/pages/landing/project.json
  libs/pages/not-found/package.json
  libs/pages/not-found/project.json
  libs/shared/styles/project.json
  libs/shared/ui/project.json
  nx.json
  package-lock.json
  package.json
Due: hpb-client, hpb-shared-styles, hpb-shared-ui, hpb-pages-landing, hpb-pages-not-found

fix(workflows): prevent local cache error
  .github/workflows/ci-cd.yml
Due: none

fix(workflows): prevent local cache error 🧷 (#92)
  .github/workflows/ci-cd.yml
Due: none

chore(deps): :arrow_up: update dependency @angular/cli to ~17.0.1
  package-lock.json
  package.json
Due: none

chore: update package-lock.json
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @angular/cli to ~17.0.1 (#94)
  package-lock.json
  package.json
Due: none

feat(hpb-client): add logo in header
  apps/hpb-client/src/app/app.routes.ts
  apps/hpb-client/src/app/header/header.component.html
  apps/hpb-client/src/app/header/header.component.scss
  apps/hpb-client/src/assets/pirates-logo-header.png
  apps/hpb-client/src/assets/pirates-logo.png
Due: hpb-client

feat(hpb-client): create header and lazy load
  apps/hpb-client/src/app/app.component.html
  apps/hpb-client/src/app/app.component.spec.ts
  apps/hpb-client/src/app/app.component.ts
  apps/hpb-client/src/app/app.routes.ts
  apps/hpb-client/src/app/header/header.component.html
  apps/hpb-client/src/app/header/header.component.scss
  apps/hpb-client/src/app/header/header.component.spec.ts
  apps/hpb-client/src/app/header/header.component.ts
Due: hpb-client

feat(shared): create variables for colors
  libs/shared/styles/src/lib/variables.scss
Due: hpb-shared-styles

feat(hpb-client): create footer
  apps/hpb-client/src/app/app.component.html
  apps/hpb-client/src/app/footer/footer.component.html
  apps/hpb-client/src/app/footer/footer.component.scss
  apps/hpb-client/src/app/footer/footer.component.spec.ts
  apps/hpb-client/src/app/footer/footer.component.ts
  apps/hpb-client/src/app/header/header.component.ts
  libs/shared/styles/src/lib/theme.scss
  libs/shared/styles/src/lib/variables.scss
  package.json
Due: hpb-client, hpb-shared-styles

fix: not able to use for getting colours
  apps/hpb-client/src/app/footer/footer.component.scss
  libs/shared/styles/src/lib/variables.scss
Due: hpb-client, hpb-shared-styles

feat(hpb-client): update footer
  apps/hpb-client/src/app/footer/footer.component.html
  apps/hpb-client/src/app/footer/footer.component.scss
  apps/hpb-client/src/app/footer/footer.component.ts
Due: hpb-client

chore(deps): install bootstrap-icons
  package-lock.json
  package.json
Due: none

feat(hpb-client): improve footer display
  apps/hpb-client/src/app/footer/footer.component.html
  apps/hpb-client/src/app/footer/footer.component.scss
Due: hpb-client

chore: add run config for pre-push checks
  .run/pre-push checks.run.xml
Due: none

chore: clean up app.component.spec.ts
  apps/hpb-client/src/app/app.component.spec.ts
Due: hpb-client

chore: apply formatting
  apps/hpb-client/src/app/footer/footer.component.html
Due: hpb-client

fix(hpb-client): define each element in app using elements
  apps/hpb-client/src/app/app.component.html
  apps/hpb-client/src/app/footer/footer.component.html
  apps/hpb-client/src/app/footer/footer.component.scss
Due: hpb-client

feat(hpb-client): create header and footer components 🎨 (#95)
  .run/pre-push checks.run.xml
  apps/hpb-client/src/app/app.component.html
  apps/hpb-client/src/app/app.component.spec.ts
  apps/hpb-client/src/app/app.component.ts
  apps/hpb-client/src/app/app.routes.ts
  apps/hpb-client/src/app/footer/footer.component.html
  apps/hpb-client/src/app/footer/footer.component.scss
  apps/hpb-client/src/app/footer/footer.component.spec.ts
  apps/hpb-client/src/app/footer/footer.component.ts
  apps/hpb-client/src/app/header/header.component.html
  apps/hpb-client/src/app/header/header.component.scss
  apps/hpb-client/src/app/header/header.component.spec.ts
  apps/hpb-client/src/app/header/header.component.ts
  apps/hpb-client/src/assets/pirates-logo-header.png
  apps/hpb-client/src/assets/pirates-logo.png
  libs/shared/styles/src/lib/theme.scss
  libs/shared/styles/src/lib/variables.scss
  package-lock.json
  package.json
Due: hpb-client, hpb-shared-styles

fix(hpb-client): set style for `main`
  apps/hpb-client/src/app/app.component.scss
Due: hpb-client

fix(hpb-client): set style for `main` 🔧 (#96)
  apps/hpb-client/src/app/app.component.scss
Due: hpb-client

fix(libs): update pages to export coverage
  libs/pages/landing/project.json
  libs/pages/not-found/project.json
Due: hpb-pages-landing, hpb-pages-not-found

fix(workflows): add `coverage` as directory for codecov
  .github/workflows/ci-cd.yml
Due: none

fix(workflows): Improve coverage reporting 🧰 (#97)
  .github/workflows/ci-cd.yml
  libs/pages/landing/project.json
  libs/pages/not-found/project.json
Due: hpb-pages-landing, hpb-pages-not-found

chore(deps): :arrow_up: update renovatebot/github-action action to v39.1.3
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v39.1.3 (#99)
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v39.1.4 (#101)
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v39.2.1 (#102)
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update angular monorepo to v17.0.6
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo
  package-lock.json
  package.json
Due: none
