Repository helderberg-pirates-baseball/websites: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --uncommitted --fix true, nx format:write --base=main --head=HEAD

chore(hooks): add script to create commit
  .husky/prepare-commit-msg
  package.json
Due: nx format:write --base=main --head=HEAD

chore: update commitlint config
  .commitlintrc.json
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore: run format:write for all changes
  .lintstagedrc.json
Due: nx format:write --base=main --head=HEAD

chore: try from console
  .commitlintrc.json
Due: nx format:write --base=main --head=HEAD

chore: update git commit hooks 🥢 (#29)
  .commitlintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-lively-plant-014cf8603.yml
Due: nx format:write --base=main --head=HEAD

ci: adjust deploy to include build
  .github/workflows/azure-static-web-apps-lively-plant-014cf8603.yml
  .github/workflows/cd-hpb-client.yml
Due: nx format:write --base=main --head=HEAD

chore: include nx-cloud token for build
  .github/workflows/cd-hpb-client.yml
Due: nx format:write --base=main --head=HEAD

ci: add deploy workflow :rocket: (#30)
  .github/workflows/cd-hpb-client.yml
Due: nx format:write --base=main --head=HEAD

fix(deps): :arrow_up: update nx monorepo to v16.2.5
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore: update package-lock
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

fix(deps): :arrow_up: update nx monorepo to v16.2.5 (#25)
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore(hpb-client): update favicon
  apps/hpb-client/src/assets/icons/android-chrome-192x192.png
  apps/hpb-client/src/assets/icons/android-chrome-512x512.png
  apps/hpb-client/src/assets/icons/apple-touch-icon.png
  apps/hpb-client/src/assets/icons/favicon-16x16.png
  apps/hpb-client/src/assets/icons/favicon-32x32.png
  apps/hpb-client/src/favicon.ico
Due: none

feat(hpb-client): add PWA support
  apps/hpb-client/ngsw-config.json
  apps/hpb-client/project.json
  apps/hpb-client/src/app/app.config.ts
  apps/hpb-client/src/assets/icons/icon-128x128.png
  apps/hpb-client/src/assets/icons/icon-144x144.png
  apps/hpb-client/src/assets/icons/icon-152x152.png
  apps/hpb-client/src/assets/icons/icon-192x192.png
  apps/hpb-client/src/assets/icons/icon-384x384.png
  apps/hpb-client/src/assets/icons/icon-512x512.png
  apps/hpb-client/src/assets/icons/icon-72x72.png
  apps/hpb-client/src/assets/icons/icon-96x96.png
  apps/hpb-client/src/index.html
  apps/hpb-client/src/manifest.webmanifest
  package-lock.json
  package.json
Due: nx affected:lint --uncommitted --fix true, nx format:write --base=main --head=HEAD

feat(hpb-client): add pwa 🍰 (#32)
  apps/hpb-client/ngsw-config.json
  apps/hpb-client/project.json
  apps/hpb-client/src/app/app.config.ts
  apps/hpb-client/src/assets/icons/android-chrome-192x192.png
  apps/hpb-client/src/assets/icons/android-chrome-512x512.png
  apps/hpb-client/src/assets/icons/apple-touch-icon.png
  apps/hpb-client/src/assets/icons/favicon-16x16.png
  apps/hpb-client/src/assets/icons/favicon-32x32.png
  apps/hpb-client/src/assets/icons/icon-128x128.png
  apps/hpb-client/src/assets/icons/icon-144x144.png
  apps/hpb-client/src/assets/icons/icon-152x152.png
  apps/hpb-client/src/assets/icons/icon-192x192.png
  apps/hpb-client/src/assets/icons/icon-384x384.png
  apps/hpb-client/src/assets/icons/icon-512x512.png
  apps/hpb-client/src/assets/icons/icon-72x72.png
  apps/hpb-client/src/assets/icons/icon-96x96.png
  apps/hpb-client/src/favicon.ico
  apps/hpb-client/src/index.html
  apps/hpb-client/src/manifest.webmanifest
  package-lock.json
  package.json
Due: nx affected:lint --uncommitted --fix true, nx format:write --base=main --head=HEAD

fix(hpb-client): update favicon
  apps/hpb-client/src/assets/icons/android-chrome-192x192.png
  apps/hpb-client/src/assets/icons/android-chrome-512x512.png
  apps/hpb-client/src/assets/icons/apple-touch-icon.png
  apps/hpb-client/src/assets/icons/favicon-16x16.png
  apps/hpb-client/src/assets/icons/favicon-32x32.png
  apps/hpb-client/src/favicon.ico
Due: none

fix(hpb-client): update favicon ☮️ (#33)
  apps/hpb-client/src/assets/icons/android-chrome-192x192.png
  apps/hpb-client/src/assets/icons/android-chrome-512x512.png
  apps/hpb-client/src/assets/icons/apple-touch-icon.png
  apps/hpb-client/src/assets/icons/favicon-16x16.png
  apps/hpb-client/src/assets/icons/favicon-32x32.png
  apps/hpb-client/src/favicon.ico
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore(deps): :arrow_up: update all non-major dev dependencies (#35)
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore(deps): :arrow_up: update actions/checkout action to v4.1.0
  .github/workflows/renovate.yml
Due: nx format:write --base=main --head=HEAD

chore(deps): :arrow_up: update actions/checkout action to v4.1.0 (#36)
  .github/workflows/renovate.yml
Due: nx format:write --base=main --head=HEAD

chore(deps): :arrow_up: update dependency @types/node to v18.17.18
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore(deps): :arrow_up: update dependency @types/node to v18.17.18 (#38)
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore(deps): :arrow_up: update tooling to ~16.2.0
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore(deps): :arrow_up: update tooling to ~16.2.0 (#39)
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore(deps): :arrow_up: update nx monorepo
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore(deps): :arrow_up: update nx monorepo (#37)
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore: reset zone.js and update package-lock
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore(deps): :arrow_up: update nx monorepo (#40)
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

chore: update editor config to use space in imports
  .editorconfig
Due: none

chore: adjust lintstage config
  .lintstagedrc.json
Due: nx format:write --base=main --head=HEAD

chore: update TS target
  tsconfig.base.json
Due: nx format:write --base=main --head=HEAD

chore: add method to analyze webpack bundling
  apps/hpb-client/project.json
  package-lock.json
  package.json
Due: nx affected:lint --uncommitted --fix true, nx format:write --base=main --head=HEAD

chore: update workspace layout
  nx.json
Due: nx format:write --base=main --head=HEAD

feat: add shared-styles lib
  libs/shared/styles/.eslintrc.json
  libs/shared/styles/README.md
  libs/shared/styles/jest.config.ts
  libs/shared/styles/project.json
  libs/shared/styles/src/index.ts
  libs/shared/styles/src/lib/shared-styles.module.ts
  libs/shared/styles/src/test-setup.ts
  libs/shared/styles/tsconfig.json
  libs/shared/styles/tsconfig.lib.json
  libs/shared/styles/tsconfig.spec.json
  tsconfig.base.json
Due: nx affected:lint --uncommitted --fix true, nx format:write --base=main --head=HEAD

chore: add @angular/material
  package-lock.json
  package.json
Due: nx format:write --base=main --head=HEAD

feat: update basic page
  apps/hpb-client/project.json
  apps/hpb-client/src/app/app.component.html
  apps/hpb-client/src/app/app.component.scss
  apps/hpb-client/src/app/app.component.ts
  apps/hpb-client/src/index.html
  apps/hpb-client/src/styles.scss
  libs/shared/styles/src/lib/theme.scss
Due: nx affected:lint --uncommitted --fix true, nx format:write --base=main --head=HEAD

chore: update package-lock
  package-lock.json
Due: nx format:write --base=main --head=HEAD

Path conditions:
  nx affected:lint --uncommitted --fix true: any of: {apps,libs}/**/*.{ts,js,html,json,scss,css,md}
  nx format:write --base=main --head=HEAD: any of: *.{ts,js,html,json,scss,css,md,yaml,yml}
